body {
	
	text-align: center;
	background-image: url(http://image.noelshack.com/fichiers/2018/45/4/1541712022-92657289310fb28586b470680552aff72.png);
}

div {

	text-align: center;
}

h1 {

	text-align: center;
}